.cardjeux
{
border-bottom: 5px solid #536dca;
}

.contact-form
{
box-sizing: border-box;
background: rgba(0,0,0,.9);
}

.contact-form input
{
width: 100%;
margin-bottom: 20px;
}

.contact-form input[type="email"],
.contact-form input[type="password"]
{
border: none;
border-bottom: 1px solid #fff;
background: transparent;
outline: none;
height: 45px;
color: #fff;
font-size: 16px;
}

.contact-form input[type="submit"] 
{
height: 30px;
color: #fff;
font-size: 15px;
background: #536dca;
cursor: pointer;
border: none;
outline: none;
margin-top: 5%;
}

.modal-header, h4, .close 
{
background-color: #536dca;
color:white !important;
text-align: center;
font-size: 30px;
}

.modal-footer 
{
background-color: #536dca;
}

.parallax
{
background-image: url("../images/background.jpg");
min-height: 500px;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.jeu-titre
{
color: #c01508;
text-align: center;
font-weight: bold;
font-size: 200%;
margin-bottom: 0;
}

.contacter-annoceur 
{
padding: 10px;
margin-top: 15px;
background: white;
border: 1px solid #6c757d;
color: lightslategrey;
text-align: center;
text-transform: uppercase;
}

.avis-etoiles .fa-star 
{
color: gold;
}



 /*La police a utilicer cest Monserrat et Roboto*/
/*.bg-secondary {*/

    /*background-image: url(../images/thumb10.jpg);*/
    /*background-position: left;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-size: cover;*/

  /*}*/

